body {
color:rgb(255, 255, 255);
background: rgb(0, 247, 255);
margin: 0px;
font-family: "Josefin Sans", sans-serif;
margin-bottom: 70;
}

header {
border-bottom: solid 2px rgb(0, 223, 231);
padding: 15px;
font-size: 20px;
color: rgb(0, 0, 255);
}

.chamada {
    background: rgb(0, 0, 255);
    padding-bottom: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
margin-right: 3%;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap:10px;
}

.categoria {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

.categoria-videos img {
opacity: 0.8;
height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid white
}

.categoria h2{
    color: rgb(0, 0, 255);
}